
# Ignore PyCharm IDE files
.idea/

# Ignore macOS .DS_Store files
.DS_Store

# We don't want to store api keys in public repo
keys.py

# Can't upload polymer code, but want to keep folder structure for scripts
polymer-v4.16.1/**

# Don't want to push a ton of random junk files
out/**
